<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .shell {
            display: flex;
            flex-direction: column;
            width: 100%;
            border: 1px solid black;
            position: relative;
        }

        .cell {
            height: 40px;
            flex: 1;
        }

        .cell+.cell {
            border-left: 1px solid black;
        }

        .head {
            display: flex;
            border-bottom: 1px solid black;
            position: absolute;
            width: 100%;
        }

        .head-item {
            height: 35px;
        }

        .body-container {
            display: flex;
            flex-direction: column;
            margin-top: 35px;
            flex: 1;
            width: 100%;
            overflow-y: auto;
        }

        .body {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            margin-bottom: -1px;
        }

        .row {
            display: flex;
        }

        .row+.row {
            border-top: 1px solid black;
        }
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <div class="shell" id="table">
        <div class="head" :style="{width: rowWidth}">
            <div class="cell head-item" :style="{width: columnWidth[0]}"></div>
            <div class="cell head-item" :style="{width: columnWidth[1]}"></div>
            <div class="cell head-item" :style="{width: columnWidth[2]}"></div>
            <div class="cell head-item" :style="{width: columnWidth[3]}"></div>
            <div class="cell head-item" :style="{width: columnWidth[4]}"></div>
            <div class="cell head-item" :style="{width: columnWidth[5]}"></div>
            <div :style="{ 'width': scrollWidth }"></div>
        </div>
        <div class="body-container" :style="{height: height}">
            <div class="body">
                <div class="row" :style="{width: rowWidth}">
                    <div class="cell body-item" :style="{width: columnWidth[0]}">sjasifjaofjaoijsdiajasdadadadsfaoi</div>
                    <div class="cell body-item" :style="{width: columnWidth[1]}">sjasifjaofjaoijsdiajasdadadadsfaoi</div>
                    <div class="cell body-item" :style="{width: columnWidth[2]}">sjasifjaofjaoijsdiajasdadadadsfaoisjasifjaofjaoijsdiajasdadadadsfaoi</div>
                    <div class="cell body-item" :style="{width: columnWidth[3]}">sjasifjaofjaoijsdiajasdadadadsfaoi</div>
                    <div class="cell body-item" :style="{width: columnWidth[4]}">sjasifjaofjaoijsdiajasdadadadsfaoi</div>
                    <div class="cell body-item" :style="{width: columnWidth[5]}">sjasifjaofjaoijsdiajasdadadadsfaoi</div>
                </div>
                <div class="row" :style="{width: rowWidth}">
                    <div class="cell body-item" :style="{width: columnWidth[0]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[1]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[2]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[3]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[4]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[5]}"></div>
                </div>
                <div class="row" :style="{width: rowWidth}">
                    <div class="cell body-item" :style="{width: columnWidth[0]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[1]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[2]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[3]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[4]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[5]}"></div>
                </div>
                <div class="row" :style="{width: rowWidth}">
                    <div class="cell body-item" :style="{width: columnWidth[0]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[1]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[2]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[3]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[4]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[5]}"></div>
                </div>
                <div class="row" :style="{width: rowWidth}">
                    <div class="cell body-item" :style="{width: columnWidth[0]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[1]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[2]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[3]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[4]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[5]}"></div>
                </div>
                <div class="row" :style="{width: rowWidth}">
                    <div class="cell body-item" :style="{width: columnWidth[0]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[1]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[2]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[3]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[4]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[5]}"></div>
                </div>
                <div class="row" :style="{width: rowWidth}">
                    <div class="cell body-item" :style="{width: columnWidth[0]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[1]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[2]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[3]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[4]}"></div>
                    <div class="cell body-item" :style="{width: columnWidth[5]}"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const table = new Vue({
        el: "#table",
        data() {
            return {
                hasScroll: false,
                height: "100%",
                columnWidths: []
            }
        },
        mounted() {
            this.hasScroll = this.IfHasScroll();
            this.columnWidths = this.CalcColumnWidth();
        },
        watch: {
            height() {
                this.$nextTick(() => this.hasScroll = this.IfHasScroll());
            }
        },
        computed: {
            scrollWidth() {
                return this.hasScroll ? getScrollbarWidth()+"px" : "0px"
            },
            rowWidth() {
                let t = 0;
                for(let it of this.columnWidths) t += it;
                return t === 0 ? "" : t + "px";
            },
            columnWidth() {
                return this.columnWidths.map(x => x + "px")
            }
        },
        methods: {
            IfHasScroll() {
                return this.$el.getElementsByClassName("body")[0].offsetHeight > this.$el.getElementsByClassName("body-container")[0].offsetHeight + 1
            },
            CalcColumnWidth() {
                let head = Array.from(this.$el.getElementsByClassName("head")[0].getElementsByClassName("cell")).map(x => x.offsetWidth);
                let rows = this.$el.getElementsByClassName("row");
                for(let row of rows) {
                    let children = row.children;
                    for(let i = 0; i < children.length; i++) {
                        head[i] = Math.max(head[i], children[i].offsetWidth);
                    }
                }
                return head;
            }
        }
    });

    function getScrollbarWidth() {
        var oP = document.createElement('p'),
            styles = {
                width: '100px',
                height: '100px',
                overflowY: 'scroll'
            },
            i, scrollbarWidth;
        for (i in styles) oP.style[i] = styles[i];
        document.body.appendChild(oP);
        scrollbarWidth = oP.offsetWidth - oP.clientWidth;
        oP.remove();
        return scrollbarWidth;
    }
</script>

</html>