<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>123</th>
                <th>111</th>
                <th>21</th>
                <th>12</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>adad</td>
                <td>as</td>
                <td>sadsadasd</td>
                <td>asda</td>
            </tr>
        </tbody>
    </table>
</body>

</html>